@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SOBRE</h1>
    <p class="lead">Segue algumas informações sobre o desenvolvimento dessa aplicação.</p>

    <h3>A implementação do uso da API pode ser vista pela aba Usuários!</h3>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Frontend</h2>
        <p>
            Desenvolvida utilizando ASP.NET MVC, com .NET Framework 4.8.
        </p>
    </div>
    <div class="col-md-4">
        <h2>API</h2>
        <p>Para o desenvolviemto da API de Usuário foi utilizado o .NET CORE 2.1</p>
    </div>
    <div class="col-md-4">
        <h2>Mais Informações</h2>
        <p>Para mais informações acesse o arquivo README.md no <a href="https://github.com/FelipeCarbonera">GitHub</a></p>
    </div>
</div>